/*  your css code here. If applicable */
#main{
	background-color:#f5f5f5;
	padding:30px
}
.test {
	background-color:white;
	padding:15px;
	border:1px medium black;
	margin:10px;
}
.p2{
	text-align:right;
}